{# @var craft \craft\web\twig\variables\CraftVariable #}

{% extends "dev/_dev_page.twig" %}

{% block content %}
  {% import 'macros/forms.twig' as forms %}

  <br><br>

  {% set query = craft.app.request.getParam('q') %}
  {% set entries = craft.entries({
    search: {
      query: query ?? '',
    }
  }).orderBy('score').all() %}

  <form class="c_form" action="{{ url('dev/search') }}">
      {{ forms.field({
          name: 'q',
          placeholder: "Search",
          type: 'search',
          value: query ?? '',
      }) }}
      {{ forms.button({ label: 'Search' }) }}
  </form>

  {% if query|length %}
    <h1>Search Results</h1>

    {% if entries|length %}
      <p>{{ entries|length }} results:</p>

      <ul>
      {% for entry in entries %}
        <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
      {% endfor %}
        </ul>
      {% else %}
      <p>Your search for “{{ query }}” didn’t return any results.</p>
    {% endif %}
  {% endif %}
{% endblock %}