<% const attributes = c.attributes || '',
         classes = (c.classes || false) ? ` ${ c.classes }` : '',
         aspect = c.aspect || '16/9',
         autoplay = c.autoplay !== undefined ? c.autoplay : false,
         controls = c.controls !== undefined ? c.controls : true,
         lazyLoad = c.lazyLoad !== undefined ? c.lazyLoad : true,
         loop = c.loop !== undefined ? c.loop : false,
         muted = c.muted !== undefined ? c.muted : false,
         playsinline = c.playsinline !== undefined ? c.playsinline : false,
         poster = c.poster || false,
         source = c.source || 'file',
         url = c.url || '',
         videoId = c.videoId || '';
%>

<div class="c_video<%- classes %>" <%- attributes %><% if (aspect) { %> style="--aspect: <%- aspect %>;"<% } %>>
    <% if (source === 'youtube') { %>
        <iframe <% if (lazyLoad) { %>data-lazy-load data-<% } %>src="https://www.youtube.com/embed/<%- videoId %>?rel=0&amp;controls=0&amp;showinfo=0" width="853" height="480"  frameborder="0" allowfullscreen></iframe>
        <noscript><iframe src="https://www.youtube.com/embed/<%- videoId %>?rel=0&amp;controls=0&amp;showinfo=0" width="853" height="480"  frameborder="0" allowfullscreen></iframe></noscript>
    <% } else if (source === 'vimeo') { %>
        <iframe <% if (lazyLoad) { %>data-lazy-load data-<% } %>src="https://player.vimeo.com/video/<%- videoId %>?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <noscript><iframe src="https://player.vimeo.com/video/<%- videoId %>?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></noscript>
    <% } else { %>
        <video <% if (lazyLoad) { %>data-lazy-load data-<% } %>src="<%- url %>"<% if (poster) { %> poster="<%- poster %>"<% } %><%- autoplay ? ' autoplay' : '' %><%- controls ? ' controls' : '' %><%- loop ? ' loop' : '' %><%- muted ? ' muted' : '' %><%- playsinline ? ' playsinline' : '' %>></video>
        <noscript><video src="{{ url }}"<% if (poster) { %> poster="<%- poster %>"<% } %><%- autoplay ? ' autoplay' : '' %><%- controls ? ' controls' : '' %><%- loop ? ' loop' : '' %><%- muted ? ' muted' : '' %><%- playsinline ? ' playsinline' : '' %>></video></noscript>
    <% } %>
</div>