{% macro socialIcon(name) %}{% spaceless %}
    {% switch name %}
        {% case 'facebook' %}
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.8 53"><title>social_facebook</title><path d="M1.4 28.47h4.9c1.7 0 1.7 0 1.7 1.7.1 3.5.1 6.9.1 10.3v10.2c0 1.8.1 1.8 1.9 1.8h6c1.6 0 1.8-.1 1.8-1.8v-20c0-2.2 0-2.2 2.2-2.2 1.3 0 2.7-.1 4 0s1.9-.3 2-1.6c.2-2.1.5-4.2.8-6.3.2-1.2-.3-1.5-1.4-1.4h-6.2c-1.1 0-1.5-.4-1.5-1.5V13c.1-3 1.2-4.1 4.2-4.3a26.69 26.69 0 0 1 4 0c.9 0 1.3-.3 1.3-1.3V1.57c0-.8-.2-1.3-1.1-1.3-2.6-.1-5.2-.5-7.8-.1-5.8.7-9.2 4-10.1 9.7a46.06 46.06 0 0 0-.2 7.4c0 1.8 0 1.8-1.8 1.9H1.5c-1.1 0-1.5.3-1.5 1.4.1 2.2 0 4.4 0 6.5 0 1 .4 1.4 1.4 1.4z" fill="#fff"></path></svg>
        {% case 'twitter' %}
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49.93 42.24"><title>social_twitter</title><path d="M.42 38.24a2.09 2.09 0 0 1 .6.4A30.36 30.36 0 0 0 33.72 36c7.6-6.1 11.3-14.1 11.7-23.8a3 3 0 0 1 1.2-2.6 13.76 13.76 0 0 0 2.9-3c.2-.3.6-.6.3-.9s-.6 0-.8.1c-.9.2-1.7.5-2.6.7-.3.1-.7.2-.8-.1s.3-.5.5-.7a8.89 8.89 0 0 0 2.8-4.1c.1-.5 0-.5-.2-.4-1.2.5-2.5 1-3.7 1.5a3.55 3.55 0 0 1-4-.6 10.34 10.34 0 0 0-13.9 1.2 10.29 10.29 0 0 0-2.9 8.5c.1 1-.3 1.3-1.2 1.2-.3 0-.6-.1-.9-.1a30.36 30.36 0 0 1-18.5-9.6c-1.1-1.2-1.4-1.2-1.9.5A10.51 10.51 0 0 0 4 14.64c.3.4 1.1.7.7 1.2s-1 .1-1.5-.1c-.2-.1-.3-.1-.5-.2-1.5-.4-1.8-.2-1.5 1.3a10.64 10.64 0 0 0 5.8 7.7c.5.2 1.4.3 1.3.8-.1.7-1 .4-1.6.5h-.2c-1.7 0-1.8.2-1 1.7a10.74 10.74 0 0 0 6.9 5.2c.5.1 1.3 0 1.4.6s-.6.7-1 .9a22.57 22.57 0 0 1-7 2.9 22.81 22.81 0 0 1-5.2.4c-.2 0-.6 0-.6.2s.22.4.42.5z" fill="#fff"></path></svg>
        {% case 'linkedin' %}
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48.55 46.84"><title>social_linkedin</title><path d="M48.55 25.13c-.66-4.6-2.76-8.29-7.37-9.74s-8.82-1.18-12.37 2.5c-.26.26-.53.79-.92.66s-.39-.79-.39-1.18c.13-1.84-.79-2.24-2.37-2.11h-5.52c-2.63 0-2.63 0-2.63 2.63v13.16c0 4.47 0 9.08-.13 13.55 0 1.58.53 2.37 2.24 2.24a48.47 48.47 0 0 1 6.18 0c1.71.13 2.11-.66 2.11-2.24V32.23a25.43 25.43 0 0 1 .13-4.47A5.53 5.53 0 0 1 33 23c2.76-.13 4.47 1.45 5.13 4.34a16.17 16.17 0 0 1 .26 3.55v10.55c0 5.53 0 5.53 5.39 5.53 5.13 0 5.26 0 5.13-5.13-.09-5.53.43-11.18-.36-16.71zM5.93 0C2.64.13.14 2.37 0 5.39s2.37 5.53 5.79 5.53a5.59 5.59 0 0 0 6.05-5.39C11.85 2.37 9.35 0 5.93 0zM9 15.26a48.5 48.5 0 0 1-6.18 0c-1.71 0-2.24.66-2.24 2.24v13.55c0 4.47.13 9.08 0 13.68 0 1.58.53 2.37 2.24 2.24A48.5 48.5 0 0 1 9 47c1.71 0 2.24-.66 2.24-2.24V17.5c-.05-1.58-.58-2.37-2.24-2.24z" fill="#fff"></path></svg>
        {% case 'youtube' %}
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53 37"><title>social_youtube</title><path d="M.76 30c.88 4.5 2.93 6.16 7.43 6.65s9 .39 13.49.49c7.92.29 15.84 0 23.76-.49a6.51 6.51 0 0 0 6.45-5.08 12.56 12.56 0 0 0 .68-3.32 107.76 107.76 0 0 0 .29-14.86 26.09 26.09 0 0 0-1.16-8.18 6.47 6.47 0 0 0-4.79-4.3 28.45 28.45 0 0 0-3-.39C38.21.12 32.44 0 26.58 0S14.75.12 8.88.42C3.8.71 1.64 2.57.67 7.55c-.1.59-.2 1.27-.29 2A103.63 103.63 0 0 0 .08 23a34.36 34.36 0 0 0 .68 7zM21 18v-6.24c0-.88.29-1.08 1.08-.68 4.11 2.15 8.21 4.3 12.22 6.36.68.39.68.68 0 1.08-4 2.05-8.12 4.2-12.12 6.26-1.08.59-1.17 0-1.17-.88z" fill="#fff"></path></svg>
        {% case 'pinterest' %}
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41.17 53"><title>social_pinterest</title><path d="M22.12 0C7.82 0 .62 10.25.62 18.79c0 5.17 2 9.78 6.16 11.49a1 1 0 0 0 1.51-.75c.14-.53.47-1.86.61-2.41a1.46 1.46 0 0 0-.43-1.68 8.68 8.68 0 0 1-2-5.9c0-7.6 5.69-14.41 14.81-14.41 8.08 0 12.52 4.94 12.52 11.53 0 8.68-3.84 16-9.54 16a4.66 4.66 0 0 1-4.75-5.8c.9-3.81 2.66-7.93 2.66-10.68 0-2.46-1.32-4.52-4.06-4.52-3.22 0-5.8 3.33-5.8 7.79a11.57 11.57 0 0 0 1 4.76l-3.9 16.4C8.26 45.48 9.24 51.45 9.32 52a.4.4 0 0 0 .71.17c.3-.39 4.13-5.12 5.43-9.85.37-1.34 2.12-8.27 2.12-8.27 1 2 4.1 3.75 7.35 3.75 9.67 0 16.23-8.82 16.23-20.62C41.17 8.31 33.61 0 22.12 0z" fill="#fff"></path></svg>
        {% case 'instagram' %}
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53 53"><title>social_instagram</title><path d="M26.44 40.06A13.64 13.64 0 1 0 12.87 26.4a13.62 13.62 0 0 0 13.62 13.7zm0-22.42a8.84 8.84 0 1 1-8.84 8.84 8.84 8.84 0 0 1 8.89-8.83zm14.15-2.16a3.2 3.2 0 1 0-3.23-3.21 3.19 3.19 0 0 0 3.28 3.24z" fill="#fff"></path><path d="M1.36 43.86a13.56 13.56 0 0 0 7.76 7.76 19.46 19.46 0 0 0 6.44 1.23c2.83.16 3.73.16 10.93.16s8.1 0 10.93-.16a19.47 19.47 0 0 0 6.44-1.23 13.56 13.56 0 0 0 7.76-7.76 19.47 19.47 0 0 0 1.23-6.44c.13-2.83.16-3.7.16-10.9s0-8.1-.16-10.93a19.47 19.47 0 0 0-1.23-6.44 13.56 13.56 0 0 0-7.76-7.76A19.47 19.47 0 0 0 37.42.16C34.59 0 33.68 0 26.49 0s-8.1 0-10.9.13a19.45 19.45 0 0 0-6.45 1.23 13.56 13.56 0 0 0-7.75 7.75 19.47 19.47 0 0 0-1.23 6.44C0 18.38 0 19.29 0 26.49s0 8.1.13 10.93a19.46 19.46 0 0 0 1.23 6.44zm3.56-28.13a14.67 14.67 0 0 1 .9-4.92 8.78 8.78 0 0 1 5.07-5 14.67 14.67 0 0 1 4.92-.91c2.8-.16 3.64-.16 10.72-.16s7.92 0 10.72.16a14.67 14.67 0 0 1 4.92.91 8.78 8.78 0 0 1 5 5 14.67 14.67 0 0 1 .87 4.92c.11 2.84.11 3.68.11 10.76s0 7.92-.07 10.73a14.67 14.67 0 0 1-.91 4.92 8.78 8.78 0 0 1-5.11 5.06 14.68 14.68 0 0 1-4.92.91c-2.8.16-3.64.16-10.72.16s-7.92 0-10.72-.16a14.68 14.68 0 0 1-4.92-.91 8.78 8.78 0 0 1-5-5.11 14.67 14.67 0 0 1-.91-4.92c-.16-2.8-.16-3.64-.16-10.72s.08-7.93.21-10.72z" fill="#fff"></path></svg>
        {% case 'snapchat' %}
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55.32 53"><title>social_snapchat</title><path d="M43.1 30.5a3 3 0 0 1-.29-2.56c.55-1.29 2.34-1.86 3.52-2.24.29-.09.57-.18.78-.26 2.07-.82 2.5-1.65 2.48-2.2a1.76 1.76 0 0 0-1.34-1.43 2.55 2.55 0 0 0-1-.18 2 2 0 0 0-.83.16 7.12 7.12 0 0 1-2.68.75 2.27 2.27 0 0 1-1.53-.54c0-.49.06-1 .09-1.53v-.16c.24-3.77.53-8.47-.66-11.15A14.48 14.48 0 0 0 28.2.46h-1.11a14.45 14.45 0 0 0-13.42 8.66c-1.2 2.68-.9 7.37-.66 11.15 0 .58.07 1.15.1 1.69a2.35 2.35 0 0 1-1.7.54 6.88 6.88 0 0 1-2.85-.75 1.52 1.52 0 0 0-.65-.13A2.23 2.23 0 0 0 5.74 23c-.09.49.1 1.45 2.47 2.38.22.09.49.17.78.26 1.18.38 3 .94 3.52 2.24a3 3 0 0 1-.29 2.56c-.15.35-3.73 8.51-11.72 9.83a.58.58 0 0 0-.49.61 1 1 0 0 0 .08.33c.33.78 1.82 1.87 7 2.67.45.07.61.72.84 1.79.09.41.18.84.31 1.28a.73.73 0 0 0 .81.58 6.83 6.83 0 0 0 1.16-.17 15.41 15.41 0 0 1 3.12-.35 13.85 13.85 0 0 1 2.25.19 10.81 10.81 0 0 1 4.29 2.19c2 1.44 4.14 2.92 7.41 2.92H28c3.28 0 5.38-1.49 7.42-2.93a10.8 10.8 0 0 1 4.29-2.19 13.87 13.87 0 0 1 2.29-.11 15.53 15.53 0 0 1 3.12.33 6.5 6.5 0 0 0 1.16.15h.06a.69.69 0 0 0 .74-.56c.13-.44.22-.85.31-1.27.25-1.16.42-1.71.84-1.78 5.2-.8 6.69-1.9 7-2.67a1 1 0 0 0 .08-.33.59.59 0 0 0-.49-.61C46.83 39 43.25 30.85 43.1 30.5z" fill="#fff"></path></svg>
        {% case 'email' %}
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 71.97 53"><defs><style>.cls-1{fill:#fff;}</style></defs><title>social_email</title><polygon class="cls-1" points="71.97 50.24 71.97 3.6 50.85 25.12 71.97 50.24"/><polygon class="cls-1" points="69.57 0.28 2.89 0.28 36.45 34.04 69.57 0.28"/><polygon class="cls-1" points="0 3.1 0 50.72 21.32 24.55 0 3.1"/><polygon class="cls-1" points="48.03 28 36.47 39.78 24.16 27.4 3.39 52.91 68.97 52.91 48.03 28"/></svg>
    {% endswitch %}
{% endspaceless %}{% endmacro %}

{% macro socialLinks(options = { links: {} }) %}{% spaceless %}
    {% set modifiers = options.modifiers ?? '' %}

    {% if options.links|length %}
        <nav class="c_nav_social{% if modifiers ?? false %} {{ modifiers }}{% endif %}">
            {% if options.links.facebook ?? false %}<a class="c_nav_social--facebook" href="{{ url(options.links.facebook) }}">{{ _self.socialIcon('facebook') }}</a>{% endif %}
            {% if options.links.twitter ?? false %}<a class="c_nav_social--twitter" href="{{ url(options.links.twitter) }}">{{ _self.socialIcon('twitter') }}</a>{% endif %}
            {% if options.links.linkedin ?? false %}<a class="c_nav_social--linkedin" href="{{ url(options.links.linkedin) }}">{{ _self.socialIcon('linkedin') }}</a>{% endif %}
            {% if options.links.youtube ?? false %}<a class="c_nav_social--youtube" href="{{ url(options.links.youtube) }}">{{ _self.socialIcon('youtube') }}</a>{% endif %}
            {% if options.links.pinterest ?? false %}<a class="c_nav_social--pinterest" href="{{ url(options.links.pinterest) }}">{{ _self.socialIcon('pinterest') }}</a>{% endif %}
            {% if options.links.instagram ?? false %}<a class="c_nav_social--instagram" href="{{ url(options.links.instagram) }}">{{ _self.socialIcon('instagram') }}</a>{% endif %}
            {% if options.links.snapchat ?? false %}<a class="c_nav_social--snapchat" href="{{ url(options.links.snapchat) }}">{{ _self.socialIcon('snapchat') }}</a>{% endif %}
            {% if options.links.email ?? false %}<a class="c_nav_social--email" href="{{ 'mailto:' not in options.links.email ? 'mailto:' : '' }}{{ options.links.email }}">{{ _self.socialIcon('email') }}</a>{% endif %}
        </nav>
    {% endif %}
{% endspaceless %}{% endmacro %}

{% macro socialShare(options = {}) %}
    {% set image = options.image ?? null %}
    {% set modifiers = options.modifiers ?? '' %}
    {% set title = options.title ?? '' %}
    {% set url = options.url ?? '#' %}

    {% if (title ?? false) and (url ?? false) %}
        {% set links = {
            'facebook': 'https://www.facebook.com/sharer.php?app_id=828593323821891&display=popup&u=' ~ url,
            'twitter': 'https://twitter.com/intent/tweet?url=' ~ url ~ '&related=dixonschwabl&text=' ~ title,
            'linkedin': 'http://www.linkedin.com/shareArticle?mini=true&amp;url=' ~ url ~ '&amp;title=' ~ title,
            'email': 'mailto:?subject=' ~ title ~ '&body=' ~ url,
        } %}
        {% if image ?? false %}
            {% set links = links|merge({ 'pinterest': 'http://pinterest.com/pin/create/button/?url=' ~ url(url) ~ '&media=' ~ image ~ '&description=' ~ title, }) %}
        {% endif %}
        {% set options = options|merge({ 'links': links, 'modifiers': modifiers, 'title': title }) %}

        {{ _self.socialLinks(options) }}
    {% endif %}
{% endmacro %}