{# @var craft \craft\web\twig\variables\CraftVariable #}

{% macro getSrcSetFromObject(options) %}{% spaceless %}
    {% set image = options.image ?? null %}
    {% set transforms = options.transforms ?? {} %}
    {% set suffix = options.suffix ?? null %}

    {% if (image ?? false) and (transforms|length) %}
        {% for transform in transforms %}{% if not loop.first %}, {% endif %}{{ image.getUrl(transform) }}{{ suffix }}{{ (transform.width ?? false) ? ' ' ~ transform.width ~ 'w' : '' }}{% endfor %}
    {% endif %}
{% endspaceless %}{% endmacro %}

{% macro image(image, options = {}) %}
    {% import _self as images %}

    {% set classes = options.classes ?? '' %}
    {% set lazyLoad = options.lazyLoad ?? true %}
    {% set placeholder = options.placeholder ?? 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' %}
    {% set optimize = options.optimize ?? [] %}
    {% set sizes = options.sizes ?? '100vw' %}
    {% set styles = options.styles ?? '' %}
    {% set title = options.title ?? '' %}
    {% set transforms = options.transforms ?? [] %}

    {% if image ?? false %}
        <figure{% if classes|length %} class="{{ classes }}"{% endif %}{% if styles|length %} style="{{ styles }}"{% endif %}>
            <picture>
                {% if transforms|length %}
                    {% set newTransforms = [] %}
                    {% for transform in transforms %}
                        {% if (transform.width ?? false) and (transform.aspect ?? false) %}
                            {% set transform = transform|merge({ height: (transform.width * transform.aspect)|round })|without(transform.aspect) %}
                        {% endif %}
                        {% set newTransforms = newTransforms|merge([transform]) %}
                    {% endfor %}

                    <% if (release) { %><source {% if lazyLoad %}data-lazy-load data-{% endif %}srcset="{{ images.getSrcSetFromObject({ image: image, transforms: newTransforms, suffix: '.webp' }) }}" sizes="{{ sizes }}" type="image/webp" /><% } %>
                    <img {% if lazyLoad %}data-lazy-load data-{% endif %}srcset="{{ images.getSrcSetFromObject({ image: image, transforms: newTransforms }) }}" src="{{ placeholder }}" sizes="{{ sizes }}" alt="{{ title }}" />
                {% else %}
                    <img {% if lazyLoad %}data-lazy-load data-{% endif %}src="{{ image.url }}" alt="{{ title }}" />
                {% endif %}
            </picture>
        </figure>
    {% endif %}
{% endmacro %}

{% macro imageBg(image, options) %}{% spaceless %}
    {% import _self as images %}

    {% set classes = options.classes ?? '' %}
    {% set imageOptions = options.imageOptions ?? {} %}

    {% if image ?? false %}
        <div class="c_image_bg{% if classes|length %} {{ classes }}{% endif %}">
            {% set imageOptionClasses = imageOptions.classes ?? '' %}
            {% set imageOptionStyles = imageOptions.styles ?? '' %}
            {% set imageOptions = imageOptions|merge({
                classes: imageOptionClasses ~ ' c_image_bg__image',
            }) %}

            {{ images.image(image, imageOptions) }}
        </div>
    {% endif %}
{% endspaceless %}{% endmacro %}