<% if (pkg.projectTemplateLanguage === 'html') { %>
<%- include(paths.templates.src + '_ejs/_layout_top') %>
<% } %>
<div class="styles styles--<%- pkg.projectTemplateLanguage %>">
    <div class="styles__menu"><% var pages = pkg.styleInventory['pages'] %><% for (var item in pages) { %>
        <a<% if (page === item) { %> class="active"<% } %> href="<%- pkg.paths.base.siteUrl %><%- pkg.styleInventory.urlPrefix %><%- item %><%- pkg.styleInventory.urlSuffix %>"><% if (page === item) { %><span class="styles__menu__active_spacer"></span><% } %><%= pages[item].label; %><% if (page === item) { %><span class="styles__menu__active_indicator"></span><% } %></a><% } %>
    </div>
    <div>
        <% pkg.styleInventory['pages'][page].components.forEach(function (item) { %>
            <% if (item.startsWith('@')) { %>
                <%- include(paths.starter.styleInventory + 'defaults/' + item.substr(1) + '.ejs', { handle: item, paths: paths, pkg: pkg, release: release }) %>
            <% } else { %>
                <%- include(paths.components.src + item + '/demo.ejs', { handle: item, paths: paths, pkg: pkg, release: release }) %>
            <% } %>
        <% }) %>
    </div>
</div>

<% if (pkg.projectType === 'craft3') { %>
    {% css %}
        <%- ('< %-').replace(' ', '') + ' include(paths.templates.src + "_css/dev-styles\" + filenameVersion + \".css") ' + ('% >').replace(' ', '') %>
    {% endcss %}
<% } else { %>
    <link rel="preload" href="<%- pkg.paths.base.siteUrl %>css/dev-styles<%- filenameVersion %>.css" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="<%- pkg.paths.base.siteUrl %>css/dev-styles<%- filenameVersion %>.css"></noscript>
<% } %>
<% if (pkg.projectTemplateLanguage === 'html') { %>
<%- include(paths.templates.src + '_ejs/_layout_bottom') %>
<% } %>