{# @var craft \craft\web\twig\variables\CraftVariable #}

{% extends 'partials/_component.twig' %}

{# Component element overrides #}
{% set element = 'nav' %}
{% set class = 'social_nav' %}

{% set image = image ?? null %}
{% set title = title %}
{% set url = url %}

{% block content -%}
    {% set links = {
        facebook: 'https://www.facebook.com/sharer/sharer.php?u=' ~ url,
        twitter: 'https://twitter.com/home?status=' ~ url,
        linkedin: 'https://www.linkedin.com/shareArticle?mini=true&url=' ~ url ~ '&amp;title=' ~ title,
        email: 'mailto:?subject=' ~ title ~ '&body=' ~ url,
        url: url,
    } %}

    {% if image ?? false %}
        {% set links = links|merge({ 'pinterest': 'http://pinterest.com/pin/create/button/?url=' ~ image.url ~ '&media=' ~ url, }) %}
    {% endif %}

    {% set options = { links: links, title: title } %}

    {% if links.facebook ?? false %}<a class="c-{{ class }}__link--facebook" href="{{ url(links.facebook) }}">{{ svg('icon/social_facebook.svg') }}</a>{% endif %}
    {% if links.twitter ?? false %}<a class="c-{{ class }}__link--twitter" href="{{ url(links.twitter) }}">{{ svg('icon/social_twitter.svg') }}</a>{% endif %}
    {% if links.linkedin ?? false %}<a class="c-{{ class }}__link--linkedin" href="{{ url(links.linkedin) }}">{{ svg('icon/social_linkedin.svg') }}</a>{% endif %}
    {% if links.pinterest ?? false %}<a class="c-{{ class }}__link--pinterest" href="{{ url(links.pinterest) }}">{{ svg('icon/social_pinterest.svg') }}</a>{% endif %}
    {% if links.email ?? false %}<a class="c-{{ class }}__link--email" href="{{ 'mailto:' not in links.email ? 'mailto:' : '' }}{{ links.email }}">{{ svg('icon/social_email.svg') }}</a>{% endif %}
    {% if links.url ?? false %}<a class="c-{{ class }}__link--email" href="{{ links.url }}">{{ svg('icon/social_link.svg') }}</a>{% endif %}
{%- endblock %}