{% extends "_layout" %}

{% import 'macros/gallery_grid_item' as galleryGridItem %}
{% import 'macros/includes' as includes %}

{% set pageSection = 'team' %}
{% set jsSection = 'team' %}
{% set uiLogoTop = '20' %}

{% block critcss %}
    <% if (critCssEnabled) { %>
    <style><%- include(critcssteam) %></style><% } else { %><!-- CRITICAL CSS --><% } %>
{% endblock %}

{% block content %}
    {% set css = '' %}
    {% set employees = craft.entries({
        section: 'teamMember',
        type: 'teamMember',
        order: 'title',
        limit: 0,
        with: [
            'teamCulturePhoto',
            'teamLivePhoto',
            'teamLivePhoto.livePhotoBackupPhoto',
        ],
    }) %}
    {% set managingPartners = entry.teamManagingPartners %}
    {% set teamMembers = managingPartners|merge(employees) %}

    <section class="wrapper wrapper--content_center">
        <h1 class="team_page_header c_header">Team<br>Roster</h1>
        <header class="team_header c_bg--border">
            <div class="team_intro c_text">
                <p>Our team offers deep experience and a fresh perspective. That may seem like a contradiction, but it’s what we do. For a quick introduction to our people, scroll and click away.<br>Minor caveat: These are solo portraits. But it’s when we work together that the real magic&nbsp;happens.</p>
            </div>
            <div class="team_info">
                <div class="team_managing_partners_photo"></div>
                <div class="team_count">
                    <span class="text c_subheader">ALL</span>
                    <span class="total">
                        {% set back %}{% spaceless %}
                            <div class="c_text--count team_count_total" data-lazy-animate="countUp" data-lazy-animate-args='{ "start": 0, "end": {{ teamMembers|length }}, "duration": 3 }'>0</div>
                        {% endspaceless %}{% endset %}
                        {% set config = {
                            back: back,
                        } %}
                        {{ includes.bgZigZagContainer(config) }}
                    </span>
                    <span class="text c_subheader">OF US</span>
                </div>
                <div class="team_credit">
                    <a class="c_text c_text--note" href="https://www.delainedacko.com/" target="_blank">Shoutout to Delaine Dacko for&nbsp;photography</a>
                </div>
            </div>
        </header>
    </section>

    {% set redRectTotal = (teamMembers|length / 25)|round(0, 'floor') %}
    {% for i in 0..redRectTotal %}
        <div class="team_red_rect {{ loop.index is odd ? 'right' : 'left' }}" :style=" { top: ({{ ((loop.index * 1300) + 600) }} - (scrollY * .3)) + 'px' }"></div>
    {% endfor %}

    <section class="team_grid_team_members wrapper wrapper--grid">
        {% for teamMember in teamMembers %}
            {{ galleryGridItem.team(teamMember) }}
        {% endfor %}
    </section>
{% endblock %}