{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}

{#
 # The default page layout used for Basic Page entries.
 # To use this layout on other channels, extend this template instead of "_layout".
 #}

{% extends "_layout.twig" %}

{% import 'macros/component.twig' as component %}

{% set pageSection = pageSection ?? 'inside' %}

{% block critcss %}
    <style>{{ source('_critcss/home.css') }}</style>
{% endblock %}

{% block content %}
    <article>
        <div style="padding: 30vh 0; text-align: center;">
            <p style="font-size: 2.4rem;">{{ pageSection|upper }}</p>
        </div>
        {#
        {% for block in entry.bodyContent %}
            {% switch block.type %}
                {% case 'header' %}
                    <div class="body__header">
                        <{{ block.headerLevel }} id="{{ block.text|kebab }}" class="{% if block.headerLevel == 'h1' %}c_header{% elseif block.headerLevel == 'h2' %}">c_subheader{% endif %}{{ block.text }}</{{ block.headerLevel }}>
                    </div>
                {% case 'text' %}
                    <div class="body__text">
                        <div class="c_text">{{ block.richText }}</div>
                    </div>
                {% case 'image' %}
                    <div class="body__image">
                        {% import 'macros/images' as images %}
                        {% set image = block.image.first() %}
                        {% set config = {
                            'width': 500,
                            'height': 500,
                            'sizes': [
                                { width: 500, height: 500, jpegQuality: 80 },
                                { width: 1000, height: 1000, jpegQuality: 70 }
                            ]
                        } %}
                        {{ images.lazyLoadImage(image, config) }}
                    </div>
                {% case 'button' %}
                    <div class="body__button">
                        {{ buttons.default({ label: block.label, url: block.buttonUrl }) }}
                    </div>
                {% case 'youtube' %}
                    <div class="body__video">
                        {{ media.video({ id: block.videoId, source: 'youtube' }) }}
                    </div>
                {% case 'vimeo' %}
                    <div class="body__video">
                        {{ media.video({ id: block.videoId, source: 'vimeo' }) }}
                    </div>
                {% case 'form' %}
                    {% set formHandle = block.form.first().handle %}

                    <div class="body__form">
                        {% include 'partials/am_form' with {
                        'form': craft.amForms.getForm(formHandle),
                        'context': _context,
                        } %}
                    </div>
                {% case 'code' %}
                    <div class="body__code">
                        {{ block.code|raw }}
                    </div>
            {% endswitch %}
        {% endfor %}
        #}
    </article>
{% endblock %}