{% import 'macros/buttons' as buttons %}
{% import 'macros/icons' as icons %}
{% import 'macros/includes' as includes %}

{# DS LOGO #}
{# Resizes when the user scrolls or when the Main Menu is shown #}
<a class="ui_logo" :class="{ ds: (scrollY > {{ uiLogoTop }}) || mainMenuIsVisible }" href="{{ siteUrl }}">{{ icons.dsLogo() }}</a>

{# SEARCH BUTTON #}


{# HAMBURGER #}
<div class="ui_hamburger" :class="{ open: mainMenuIsVisible }" @click="toggleMainMenu()"><div class="icon"><span class="top"></span><span class="middle"></span><span class="bottom"></span></div></div>

{# CONTACT BUTTON #}
<div class="ui_contact">{{ buttons.default({ label: "Contact", modifiers: "c_button--cta", url: "contact" }) }}</div>

{# SOCIAL MEDIA NAV #}
<div class="ui_social_nav" :class="{ open: socialNavIsVisible, menu: mainMenuIsVisible }">
    {{ includes.socialNav() }}
    <div class="social_nav_toggle" @click="toggleSocialNav()"><div class="icon">{{ icons.socialToggle() }}</div></div>
</div>

<div class="ui_menu_mask" :class="{ active: mainMenuIsVisible }" @click="toggleMainMenu()" v-cloak></div>

<div class="main_menu_wrapper" :class="{ open: mainMenuIsVisible }" v-cloak>
    <div class="menu">
        <nav class="main_menu_links">
            <a @mouseover="updateMainMenuFeature('home')" href="{{ siteUrl }}"><span>Home</span></a>
            <a @mouseover="updateMainMenuFeature('culture')" href="{{ siteUrl }}culture/"><span>Culture</span></a>
            <div class="children">
                <a @mouseover="updateMainMenuFeature('team')" class="child" href="{{ siteUrl }}team/"><span>Team</span></a>
                <a @mouseover="updateMainMenuFeature('integration')" class="child" href="{{ siteUrl }}integration/"><span>Integration</span></a>
            </div>
            <a @mouseover="updateMainMenuFeature('work')" href="{{ siteUrl }}work/"><span>Work</span></a>
            <a @mouseover="updateMainMenuFeature('experience')" href="{{ siteUrl }}experience/"><span>Experience</span></a>
            <a @mouseover="updateMainMenuFeature('careers')" href="{{ siteUrl }}careers/"><span>Work&nbsp;Here</span></a>
            <main-menu-features class="feature"></main-menu-features>
        </nav>
    </div>
    <footer class="footer">
        <nav class="main_menu_links">
            <a @mouseover="updateMainMenuFeature('news')" href="{{ siteUrl }}news/"><span>News</span></a>
            <a @mouseover="updateMainMenuFeature('blog')" href="{{ siteUrl }}blog/"><span>Blog</span></a>
            <a @mouseover="updateMainMenuFeature('podcast')" href="{{ siteUrl }}podcast/"><span>Podcast</span></a>
            <a class="links--mobile" href="{{ siteUrl }}search/"><span>Search</span></a>
        </nav>
        <div class="location_info">
            <a class="address_link" href="https://www.google.com/maps/place/Dixon+Schwabl/@43.0383759,-77.4538066,17z/data=!3m1!4b1!4m5!3m4!1s0x89d133ebc02c0dd3:0x820ee63dd174ae5e!8m2!3d43.038372!4d-77.4516179" target="_blank">
                <div class="address icon_address"></div>
                <div class="marker icon_location_marker_white"></div>
            </a>
            <div class="bacon">
                <div class="slice icon_bacon"></div>
                <div class="slice icon_bacon"></div>
                <div class="slice icon_bacon"></div>
                <div class="slice icon_bacon"></div>
                <div class="slice icon_bacon"></div>
                <div class="slice icon_bacon"></div>
            </div>
            <div class="phone_legal">
                <a href="tel:+15853830380" class="phone icon_telephone"><span class="number">585.383.0380</span></a>
                <a href="{{ url('privacy') }}" class="link">Privacy&nbsp;Policy</a>
                <a href="{{ url('terms') }}" class="link">Terms&nbsp;of&nbsp;Use</a>
            </div>
        </div>
    </footer>
</div>