<% const currentSection = 'forms' %>
<% const modules = [] %>

<% const intro = false %>

<% modules.push({
    "title": "Form Field",
    "description": "Text-based input field. NOTE: all options below are applicable for all form input fields.",
    "background": "light",
    "code":
`{% import 'macros/forms' as forms %}
<form class="c_form">
    {{ forms.field({
        label: 'Text Input',
        name: 'text_input',
        type: 'text'
    }) }}
</form>`,
    "options": [
        { "name": 'id', "required": false, "type": 'string', "description": `The id attribute for the form field. This will default to the name option if an id is not given.` },
        { "name": 'label', "required": false, "type": 'string', "description": `Text used for the field label.` },
        { "name": 'modifiers', "required": false, "type": 'string', "description": `Classes added that allow for variations in styles or functionality.` },
        { "name": 'name', "required": true, "type": 'string', "description": `The name attribute of the form field.` },
        { "name": 'placeholder', "required": false, "type": 'string', "description": `Text ` },
        { "name": 'required', "required": false, "type": 'boolean', "default": `false`, "description": `Adds a required attribute to the input field.` },
        { "name": 'type', "required": true, "type": 'string', "description": `The field type as per HTML input spec.` },
        { "name": 'value', "required": false, "type": 'string', "description": `Default value for the field.` }
    ]
}); %>

<% modules.push({
    "title": "Text Area Field",
    "description": "Input field for longer text.",
    "background": "light",
    "code":
`{% import 'macros/forms' as forms %}
<form class="c_form">
    {{ forms.field({
        label: 'Text Area',
        name: 'text_area',
        type: 'textarea'
    }) }}
</form>`
}); %>

<% modules.push({
    "title": "Invalid Form Field",
    "description": "Style for when an input field is not correctly filled out based on HTML5 type validation.",
    "background": "light",
    "code":
`{% import 'macros/forms' as forms %}
<form class="c_form">
    {{ forms.field({
        label: 'Invalid Input',
        name: 'invalid_input',
        type: 'email',
        value: 'invalid input'
    }) }}
</form>`
}); %>

<% modules.push({
    "title": "Button",
    "description": "A single submit button with no wrapper.",
    "background": "light",
    "code":
`{% import 'macros/forms' as forms %}
{{ forms.button({ label: 'Send' }) }}`
}); %>

<% modules.push({
    "title": "Buttons",
    "description": "Markup for multiple submit buttons wrapped in a container for easier styling.",
    "background": "light",
    "code":
`{% import 'macros/forms' as forms %}

{% set button1 = { options: {
    label: 'Reset',
    name: 'reset'
}} %}

{% set button2 = { options: {
    label: 'Send'
}} %}

{{ forms.buttons([button1, button2]) }}`
}); %>

<% modules.push({
    "title": "Example Form",
    "description": "A basic contact form example.",
    "background": "light",
    "code":
`{% import 'macros/forms' as forms %}
<form class="c_form" action="">
    {{ forms.field({
        label: 'Name',
        name: 'name',
        type: 'text'
    }) }}
    {{ forms.field({
        label: 'Email',
        name: 'email',
        type: 'email'
    }) }}
    {{ forms.field({
        label: 'Comments',
        name: 'comments',
        type: 'textarea'
    }) }}
</form>`
}); %>

<%- include('../../ejs_includes/style_inventory/_wrapper', {"activeItem": currentSection, "intro": intro, "modules": modules}) %>