{# @var craft \craft\web\twig\variables\CraftVariable #}

{% extends 'components/_component.twig' %}

{% set inputBody = null %}

{# Variables #}
{% set format = format ?? false %}
{% set inputAttributes = inputAttributes ?? null %}
{% set inputClasses = inputClasses ?? null %}
{% set label = label ?? null %}
{% set name = name ?? '' %}
{% set options = options ?? null %}
{% set placeholder = placeholder ?? null %}
{% set required = required ?? false %}
{% set type = type %}
{% set validate = validate ?? false %}
{% set value = value ?? null %}
{% set vue = vue ?? false %}

{% set classes = (classes ?? false) ? classes ~ ' ' ~ rootClass ~ '--' ~ type : rootClass ~ '--' ~ type %}

{% if type == 'submit' %}
    {% set inputClasses = (inputClasses ~ ' c_button')|trim %}
{% endif %}

{% if vue or format or validate %}
    {% set vue = true %}
    {% set element = 'validated-form-input' %}
    {% set attributes = attributes ?? '' %}

    {% set attributes -%}
        input-classes="{{ inputClasses }}"
        input-id="{{ rootClass }}--{{ name }}"
        input-name="{{ name }}"
        input-type="{{ type }}"
        input-placeholder="{{ placeholder }}"
        input-value="{{ value }}"
        label="{{ label }}"
        {% if format ?? false %}
            format="{{ format }}"
        {% endif %}
        {% if required ?? false %}
            :required="true"
        {% endif %}
        {% if validate ?? false %}
            validate="{{ validate }}"
        {% endif %}
        {{ attributes|raw }}
    {%- endset %}
{% else %}
    {% set inputBody -%}
        {% if type in ['email', 'number', 'tel', 'text', 'search', 'submit', 'url'] %}
            <input{% if inputClasses ?? false %} class="{{ inputClasses }}"{% endif %} id="{{ rootClass }}--{{ name }}" name="{{ name }}" type="{{ type }}" {% if placeholder ?? false %} placeholder="{{ placeholder }}"{% endif %}{% if value ?? false %} value="{{ value }}"{% endif %}{% if inputAttributes ?? false %} {{ inputAttributes|raw }}{% endif %}{% if required %} required{% endif %}>
        {% elseif type == 'textarea' %}
            <textarea{% if inputClasses ?? false %} class="{{ inputClasses }}"{% endif %}{% if name ?? false %} name="{{ name }}"{% endif %}{% if placeholder ?? false %} placeholder="{{ placeholder }}"{% endif %}{% if inputAttributes ?? false %} {{ inputAttributes|raw }}{% endif %}{% if required %} required{% endif %}>{% if value ?? false %}{{ value }}{% endif %}</textarea>
        {% endif %}
    {%- endset %}
{% endif %}

{% block content -%}
    {% if label ?? false %}<label{% if name ?? false %} for="{{ rootClass }}--{{ name }}"{% endif %}>{{ label }}</label>{% endif %}
    {{ inputBody ?? null }}
{%- endblock %}